.landing {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
  min-height: 100vh;
  overflow-y: scroll;
  width: 100vw;
  box-shadow: 2px 2px 3px black;
}
.posts {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  background-color: wheat;
  width: 50%;
  box-shadow: 2px 2px 3px black;
}
.verifyMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 3px black;
  background-color: rgb(241, 181, 69);
  margin: 20px;
}
.verifyMessage p {
  font-size: 1.2em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: capitalize;
  color: red;
  text-shadow: 2px 2px 3px black;
}
.emailVerefication {
  background-color: antiquewhite;
  margin: 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  min-height: 100px;
}
.PageHeader {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100vw;
}
.uploadImageProgrss {
  margin: 15px;
}
@media all and (max-width: 500px) {
  .PageHeader {
    flex-direction: column;
  }
  .icons {
    flex-direction: row;
    max-height: 10vh;
    width: 95vw;
    padding: 10px;
  }
  .verifyMessage {
    margin: 10px;
    margin-bottom: 0px;
    width: 95vw;
    padding: 5px;
  }
  .posts {
    min-width: 95vw;
  }
}
