.heather {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tittleComments {
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  font-style: oblique;
  text-shadow: 2px 2px 5px;
}
.img {
  width: 200px;
  height: 200px;
  background-size: cover;
}
.posts {
  display: flex;
  border: '2px solid red' ;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tittlePosts {
  font-size: 1.2em;
  font-family: "Courier New", Courier, monospace;
  font-style: oblique;
  text-shadow: 2px 2px 5px white;
  text-align: center;
  margin: 5px;
}
.post {
  width: 100%;
}
.uploadImageComponent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 2px 2px 3px black;
  background-color: rgb(14, 166, 226);
  flex-direction: column;
}
.uploadImageComponent > * {
  margin: 10px;
}
.uploadImageProgrss {
  margin: 15px;
}
.postInfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.postInfo .captionInput {
  font-size: 1.3em;
  font-family: "Courier New", Courier, monospace;

  border-radius: 10px;
  box-shadow: 2px 2px 4px brown;
  font-weight: bolder;
}
.postInfo .captionInput:focus {
  border: 2px solid red;
}
.postInfo .fileInput {
  font-size: 1em;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 5px;
  margin: 15px;
  padding: 2px;
}
.uploadInfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.uploadInfo > * {
  width: 40%;
}
.uploadInfo > *:hover {
  box-shadow: 2px 2px 3px black;
}
.PageHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 10px;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 30vh;
  margin: 15px;
  border-radius: 10px;
  background-color: white;
  border: 2px double aquamarine;
  box-shadow: 2px 2px 3px black;
}
.ProfileAvatar {
  cursor: pointer;
}
.searchIcon {
  cursor: pointer;
}
.postsComponent {
  width: 100%;
}
.SinglePostDiv {
  margin: 20px;
  box-shadow: 2px 2px 3px black;
  border-radius: 20px;
}
.tittleWelcome {
  text-align: center;
  font-size: 1.8em;
  color: rgb(0, 110, 255);
  text-shadow: 2px 2px 5px yellow;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.CommentsComponent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: aquamarine;
  width: 50vw;
  border: 2px solid black;
  overflow-y: scroll;
  padding-bottom: 10%;
}
.AllCommnets {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  overflow-y: scroll;
  margin: 10px;
}
.innerComment {
  width: 100%;
  overflow-y: scroll;
}
.SingleComponent {
  display: flex;
  box-shadow: 2px 2px 5px black;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2em;
  width: 90%;
  min-height: 50px;
  overflow-x: inherit;
  margin: 10px;
  padding: 5px;
}
.userNameComment {
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
  text-shadow: 2px 2px 3px black;
  font-size: 1.1em;
}
.userNameAndComment {
  margin-left: 20px;
}
.textComment {
  font-weight: bolder;
  font-family: sans-serif;
}
.addComment {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 5vh;
  background-color: wheat;
  width: 100%;
  min-height: 8%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media all and (max-width: 500px) {
  .uploadImageComponent {
    min-height: 40vh;
    width: 95vw;
    margin: 2px;
    justify-content: space-around;
  }
  .uploadInfo {
    flex-direction: column;
    width: 90%;
  }
  .postInfo {
    flex-direction: column;
    justify-content: space-around;
    font-size: 13px;
    width: 100%;
  }
  .fileInput {
    width: fit-content;
  }
  .captionInput {
    width: fit-content;
  }
  .post {
    width: 100%;
  }
  .CommentsComponent {
    width: 80vw;
    max-height: 70vh;
    margin: 0px;
    justify-content: center;
    background-color: yellowgreen;
    border: 2px solid green;
  }
  .tittleComments {
    font-size: 20px;
  }
  .addComment {
    background-color: transparent;
  }
  .SingleComponent {
    width: 80%;
    font-size: 16px;
  }
}
