.profile {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;

  border: 2px solid black;
}
.gradient-border {
  --borderWidth: 3px;
  background: #1d1f20;
  position: relative;
}
.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  width: 100vw;
  background: linear-gradient(
    60deg,
    #1077fd,
    #10fd30,
    #1098ad,
    #07b39b,
    #e2df0a,
    #d3e911,
    #f37055,
    #efe44e
  );
  /* border-radius: calc(2 * var(--borderWidth)); */
  /* border-radius: 25px; */
  z-index: -1;
  animation: animatedgradient 5s ease alternate;
  background-size: 300% 300%;
  background-position: 0% 50%;
}
.gradient-borderAutherProfile {
  --borderWidth: 3px;
  background: #1d1f20;
  position: relative;
}
.gradient-borderAutherProfile:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #e2df0a,
    #d3e911,
    #e0dbd9,
    #efe44e,
    #1077fd,
    #10fd30,
    #1098ad,
    #07b39b
  );
  /* border-radius: calc(2 * var(--borderWidth)); */
  /* border-radius: 25px; */
  z-index: -1;
  animation: animatedgradient 5s ease alternate;
  background-size: 300% 300%;
  background-position: 0% 50%;
}

@keyframes animatedgradient {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
  /* 100% {
    background-position: 0% 50%;
  } */
}

.mine {
  position: absolute;
  top: 0px;
}
.another {
  position: absolute;
  top: 0px;
}
.identity {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 20px;
  flex-direction: row-reverse;
}
.identity > * {
  margin: 30px;
  font-size: 2em;
  text-shadow: 4px 5px 6px rgb(18, 19, 16);
  font-family: "Courier New", Courier, monospace;
  text-transform: capitalize;
  font-weight: bolder;
  cursor: pointer;
  color: black;
}
.buttonsPfofile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.followings {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  box-shadow: 2px 2px 5px black;
}
.followingsComponent,
.followersComponent {
  background-color: wheat;
  min-width: 30vw;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  border: 2px solid double;
}
.title {
  font-size: 2em;
  font-family: sans-serif;
  color: brown;
  justify-self: flex-start;
  text-transform: capitalize;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
  font-weight: bolder;
  text-align: center;
  margin: 5px;
}
.following,
.follower {
  text-align: center;
  font-size: 1.5em;
  border: 2px groove black;
  background-color: brown;
  color: white;
  font-family: "Courier New", Courier, monospace;
  border-radius: 5px;
  margin: 5px;
  font-weight: bolder;
  text-shadow: 1px 1px 3px white;
  cursor: pointer;
}
.followersComponent {
  background-color: rgb(208, 228, 137);
}
.uploadProfileImageComponent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 30vw;
  min-height: 30vh;
  background-color: #e5ebb4;
}
.profileImageProgress {
  border: 2px solid black;
  border-radius: 10px;
  width: 80%;
}
.uploadbtn {
  background-color: rgb(0, 238, 255);
  border-radius: 10px;
  font-size: 1.8em;
  font-family: "Courier New", Courier, monospace;
  margin: 10px;
  width: 30%;
  text-align: center;
  font-weight: bolder;
}
.ProfileImageFileInput {
  font-size: larger;
  border: 2px solid brown;
  border-radius: 10px;
  margin: 10px;
  font-family: "Courier New", Courier, monospace;
  box-shadow: 2px 2px 2px black;
  cursor: pointer;
}
.mine .buttons {
  justify-content: center;
}
.header {
  margin: 10px;
}
.anotherAcoutIdentity {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: start;
  color: #10e1fd;
}
.postsProfile {
  width: 50%;
}
.postInProfile {
  margin: 30px;
  width: 95%;

  background-color: transparent;
  box-shadow: 2px 2px 5px black;
}
.noFollow {
  font-size: 1.1em;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  text-shadow: 2px 2px rgb(141, 146, 73);
  background-color: black;
  color: white;
  padding: 10px;
}
@media all and (max-width: 500px) {
  .buttonsPfofile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
  }
  .identity > * {
    justify-content: center;
    margin: 7px;
  }
  .postsProfile {
    width: 100%;
    margin: 5px;
    margin-bottom: 20px;
  }
  .UserName {
    font-size: 22px;
  }
  .profile {
    width: 100vw;
    border-radius: 0px;
    min-height: 100vh;
  }
  .postInProfile {
    margin: 5px;
    margin-bottom: 20px;
  }
  .uploadProfileImageComponent {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .profileImageProgress {
    width: 50%;
  }
  .ProfileImageFileInput {
    border: 2px solid brown;
    width: 95%;
    border-radius: 5px;
  }
}
.followersBtn{
  min-width : 200px ;
    background-color : white;
    color : black ;
    cursor: pointer ;
    border-radius : 8px ;
    padding-top : 8px  ;
    padding-bottom : 8px ;
    padding-right : 60px;
    padding-left : 60px ;
    border: 1px solid black ;
    
}
.followingBtn {
              background-color: #53E05D ;
                  color: #5222E0 ;
                  border: 1px solid black ;
                  border-radius: 8px;
                  padding-top: 8px ;
                  padding-bottom: 8px ;
                  padding-right: 60px ;
                  cursor: pointer;
                  padding-left: 60px ;
                  min-width: 200px ;
}
.followersBtn:hover{
                background-color: black ;
                    color: white ;
                    border: 1px solid #fff ;
}
.followingBtn:hover{
        background-color: #289430 ;
            color:#fff ;
}
.followingBtn::hove {
  color: red
}