.searchPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  min-height: 100vh;
}
.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
}
.searchBar > * {
  margin: 7px;
}

.searchBar {
  margin: 30px;
  cursor: pointer;
  box-shadow: none;
  color: green;
}
.users {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px black;
  flex-direction: row;
}
.user {
  min-width: 20vw;
  min-height: 5vh;
  box-shadow: 2px 2px 5px black;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  text-align: center;
  margin: 10px;
  font-size: 1.2em;
  text-shadow: 1px 1px 5px black;
  cursor: pointer;
}
.myLogo {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
}
.logoOverlay {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: black;
  opacity: 0.2;
  border: 2px solid white;
}
