.SignInModal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.SignInRealModal {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 4px white;
  border: 2px solid wheat;
  flex-direction: column;
  padding: 10px;
  border-radius: 6px;
}
.SignInModal > {
  margin: 20px;
}
.SignInInput {
  margin: 10px;
  background-color: aliceblue;
}
.signIntittle {
  color: wheat;
  font-family: "Courier New", Courier, monospace;
  font-stretch: condensed;
  font-style: oblique;
  font-size: 1.7em;
  text-shadow: 2px 2px 5px white;
}
.SignInButtons {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 100%;
}
