.welcome {
  display: flex;
  align-items: center;
  justify-content: start;
  min-height: 100vh;
  width: 100vw;
  flex-direction: column;
}
.welcomeTittle {
  font-size: 4em;
  font-family: "Times New Roman", Times, serif;
  color: white;
  text-shadow: 2px 2px 5px wheat;
  margin: 0.5em;
  font-weight: bolder;
}
.myLogo {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
}
.logoOverlay {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: black;
  border: 2px solid white;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 50%;
}
.btn {
  margin: 20px;
}
/* the background  */
body {
  margin: 0;
  padding: 0;
  overflow: visible;
  background-color: black;
}
section {
  height: 100vh;
  width: 100v;
  position: absolute;
  background: radial-gradient(#333, #000);
}
.leaf {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.leaf div {
  position: absolute;
  display: block;
}
.leaf div:nth-child(1) {
  left: 20%;
  animation: fall 15s linear infinite;
  animation-delay: -2s;
}
.leaf div:nth-child(2) {
  left: 70%;
  animation: fall 15s linear infinite;
  animation-delay: -4s;
}
.leaf div:nth-child(3) {
  left: 10%;
  animation: fall 20s linear infinite;
  animation-delay: -7s;
}
.leaf div:nth-child(4) {
  left: 50%;
  animation: fall 18s linear infinite;
  animation-delay: -5s;
}
.leaf div:nth-child(5) {
  left: 85%;
  animation: fall 14s linear infinite;
  animation-delay: -5s;
}
.leaf div:nth-child(6) {
  left: 15%;
  animation: fall 16s linear infinite;
  animation-delay: -10s;
}
.leaf div:nth-child(7) {
  left: 90%;
  animation: fall 15s linear infinite;
  animation-delay: -4s;
}
.SignUpForm {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  width: 100vw;
  min-height: 100vh;
}
.form > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes fall {
  0% {
    opacity: 1;
    top: -10%;
    transform: translateX (20px) rotate(0deg);
  }
  20% {
    opacity: 0.8;
    transform: translateX (-20px) rotate(45deg);
  }
  40% {
    transform: translateX (-20px) rotate(90deg);
  }
  60% {
    transform: translateX (-20px) rotate(135deg);
  }
  80% {
    transform: translateX (-20px) rotate(180deg);
  }
  100% {
    top: 110%;
    transform: translateX (-20px) rotate(225deg);
  }
}
.leaf1 {
  transform: rotateX(180deg);
}
.welcomeTittle {
  width: 100%;
  font-family: "Courgette";
  font-size: 4em;
  text-align: center;
  transform: translate;
  color: white;
  transform: translateY (-50%);
}
.welcomeBackground {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}
/* sign up from  */
.SignUpForm {
  background: #43cea2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #43cea2,
    #185a9d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #43cea2,
    #185a9d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 50vw;
  height: 50vh;
  box-shadow: 2px 3px 3px black;
}
.form > div {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
div > input {
  position: relative;
  top: 0px;
  right: 0px;
  font-size: 1.1em;
  border-radius: 10px;
  text-align: center;
  padding-left: 5px;
}

div > label {
  font-size: 1.2em;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  font-weight: bolder;
}
.SignUpTittle {
  font-size: 3em;
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
  font-style: oblique;
  text-shadow: 2px 2px 4px black;
}
.SignUpButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.SignUpButtons > div {
  margin: 10px;
}
label {
  text-transform: capitalize;
  font-size: 1.3em;
  text-shadow: 2px 2px 3px white;
}
.verifyComponent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius:  8px;
  padding : 40px 80px ;
  background-color: white ; 
}
.verifyBtns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin: 20px;
}
.VeriffyTittle {
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  text-shadow: 2px 2px 5px black;
}
@media all and (max-width: 500px) {
  .form {
    width: 95vh;
    height: 100vh;
  }
  .form div {
    width: fit-content;
    font-size: 10px;
  }
  .SignUpTittle {
    font-size: 30px;
    text-shadow: 2px 2px 5px white;
  }
  div > input {
    font-size: 16px;
    width: 100px;
    margin: 10px;
  }
  .form {
    box-shadow: none;
  }
  .SignUpButtons {
    box-shadow: none;
  }
  .form {
    justify-content: center;

    margin: 5px;
  }
  .welcomeTittle {
    font-size: 20px;
  }

  .buttons {
    flex-direction: column;
    background-color: rgb(19, 18, 18);
    border-radius: 15px;
    width: 60%;
  }
  .mobileHide {
    display: none;
  }
  .verifyComponent {
    width: 80vw;
    height: 70vh;
  }
}
@media all and (max-width: 1000px) {
  .welcome {
    font-size: 16px;
  }
  .verifyBtns {
    width: 100%;
    flex-direction: column;
    height: 30vh;
  }
  .VeriffyTittle {
    font-size: 20px;
    text-align: center;
  }
}
