* {
  margin: 0px;
  padding: 0px;
}
.logo {
  background-image: url("https://assets.turbologo.com/blog/fr/2019/09/19134216/instagram-logo-illustration-958x575.png");
  width: 30%;
  background-position: center;
  background-size: cover;
  object-fit: contain;
  height: 40px;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.app {
  display: flex;
  align-items: center;
  justify-content: center;
}
